<div class="container">
  <h2>Update your personal information</h2>
  <%= form_with model: @user do |form| %>
    <div class="field">
      <%= form.label :username, class: 'label' %>
      <%= form.text_field :username, autofocus: true, class: 'input' %>
    </div>
    <div class="field">
      <%= form.label :first_name, class: 'label' %>
      <%= form.text_field :first_name, autofocus: true, class: 'input' %>
    </div>
    <div class="field">
      <%= form.label :last_name, class: 'label' %>
      <%= form.text_field :last_name, autofocus: true, class: 'input' %>
    </div>
    <div class="field">
      <%= form.label :bio, class: 'label' %>
      <%= form.text_area :bio, autofocus: true, class: 'textarea input' %>
    </div>
    <div class="field">
      <%= form.label :birthdate, class: 'label' %>
      <div class="birth-date-select-container">
        <%= form.date_select :birthdate,
                              { autofocus: true, 
                              start_year: Date.today.year - 100,
                              end_year: Date.today.year - 18 },
                              { class: 'select' }
                              %>
      </div>
    </div>
    <div class="actions">
      <%= form.submit "Submit", class: 'button' %>
    </div>
  <% end %>
</div>
