<div class="container">
  <h2>Add a new book to the library</h2>
  <%= form_with model: @book do |form| %>
    <div class="field">
      <%= form.label :title, class: 'label' %>
      <%= form.text_field :title, autofocus: true, class: 'input' %>
    </div>
    <div class="field">
      <%= form.label :author, class: 'label' %>
      <%= form.select(:author_id, @authors.all.collect {|a| [ a.name, a.id ] }, {}, { class: 'select' }) %>
      <%= link_to 'Haven\'t found the author name? try adding to the library too!',
                  new_author_path(return_to: new_book_path),
                  class: 'book_form link'
        %>
    </div>
    <div class="field">
      <%= form.label :release_date, class: 'label' %>
      <div class="data-select">
        <%= form.date_select :release_date,
                              { autofocus: true,
                              start_year: Date.today.year - 100,
                              end_year: Date.today.year - 18 },
                              { class: 'select' }
                              %>
      </div>
    </div>
    <div class="actions">
      <%= form.submit "Submit", class: 'button' %>
    </div>
    <p><%= @test %></p>
  <% end %>
</div>
