<div class="auth-page-container container">
  <h2 class="heading">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, class: 'label' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
    </div>
    <div class="field">
      <%= f.label :password, class: 'label' %>
      <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field checkbox">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: 'label' %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Log in", class: 'button' %>
    </div>
  <% end %>
  <div class="auth-page action-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
